.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically */
    padding: 20px;
  }
  
  .detail-card {
    max-width: 400px; /* Adjust the max-width as needed */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
  }
  
  .mat-card-actions button {
    color: white;
  }
  
  .mat-card-actions button[color="primary"] {
    background-color: #007bff; /* Bootstrap primary color, adjust as needed */
  }
  
  .mat-card-actions button[color="primary"]:hover {
    background-color: #0056b3; /* Darker shade of primary color */
  }