

<div class="about-container">
    <div class="about-content">
        <img src="assets/img/PNG image.jpeg" alt="Cool Image" class="cool-image">
        <h1 class="about-title">ABOUT US</h1>
        <p class="about-paragraph">
            Welcome to Apex Cars, the brainchild of Landon Rady and Jonathan Morales. We are dedicated to revolutionizing the car market with our cutting-edge, futuristic vehicles that blend unmatched performance with state-of-the-art technology. At Apex Cars, we envision a future where driving is not just a necessity but an exhilarating experience. Join us on this journey to redefine the automotive world.
        </p>
    </div>
</div>
