<div class="form">
    <div class="image-container">
        <img mat-card-image src="assets/img/PNG image.jpeg" alt="Cool Image" class="cool-image">
    </div><br><br>
    <h1>Create New Car Listing</h1>
    <form class="example-form" #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Make</mat-label>
            <input matInput placeholder="Make" [(ngModel)]="newCar.make" name="make" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Model</mat-label>
            <input matInput placeholder="Model" [(ngModel)]="newCar.model" name="model" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <input matInput type="number" placeholder="Year" [(ngModel)]="newCar.year" name="year" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <input matInput placeholder="Color" [(ngModel)]="newCar.color" name="color" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Miles</mat-label>
            <input matInput type="number" placeholder="Miles" [(ngModel)]="newCar.miles" name="miles" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" [(ngModel)]="newCar.city" name="city" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" [(ngModel)]="newCar.state" name="state" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" [(ngModel)]="newCar.price" name="price" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Image URL</mat-label>
            <input matInput placeholder="Image URL" [(ngModel)]="newCar.imgUrl" name="imgUrl" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" [(ngModel)]="newCar.description" name="description" required>
        </mat-form-field>

        <div class="hi">
            <button mat-flat-button color="primary" routerLink="/car">Back</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
        </div>
    </form>
</div>