<mat-toolbar color="primary">
  <a routerLink="/car" mat-button>Apex Cars</a>
  <img src="assets/img/PNG image.jpeg" alt="Cool Image">


  <div class="spacer"></div>

  <a routerLink="/car" mat-button>Home</a>
  <a routerLink="/about" mat-button>About</a>
  <a routerLink="/signin" mat-button>Sign In</a>
  <a routerLink="/signup" mat-button>Sign Up</a>

  <div class="content" *ngIf="isAuthenticated">
    <a routerlink mat-button [routerLink]="['/user/id', this.user?.id]">Welcome {{user?.username}}!</a>
    <button mat-button (click)="onLogout()">Log out</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>