



.mat-toolbar.mat-primary {
  background-color: #1A237E; 
  color: white; 
}


img {
  width: 70px;
  height: 60px;
  margin-left: 15px;
}

a.mat-button {
  color: white; 
  text-decoration: none;
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  display: flex;
  align-items: center; 
}

.content a.mat-button {
  margin-right: 10px; 
}

button.mat-button {
  color: white; 
}

a{
  font-weight: 550;
}