.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

*{
  background-color: #DCD9CD;
}
img {
  width: 70px;
  height: 60px;
  margin-left: 15px;
}

a {
  color: aliceblue;
  text-decoration: none;
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
  
}

mat-toolbar{
  font-size: 1.3em;
}






